{% extends "base.html" %}

{% block title %} - Editar Feriado{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center mb-4 fw-bold">Editar Feriado</h3>

    <div class="card shadow mx-auto w-50">
        <div class="card-header bg-warning text-black fw-bold">
            Feriado: {{ feriado.fecha_feriado.strftime('%Y-%m-%d') }}
        </div>
        <div class="card-body">
            <form action="{{ url_for('feriado.editar_feriado', id_feriado=feriado.id_feriado) }}" method="POST">
                <div class="mb-3">
                    <label for="fecha_feriado" class="form-label fw-bold">Fecha del Feriado</label>
                    <input type="date" class="form-control fw-semibold" id="fecha_feriado" name="fecha_feriado" value="{{ feriado.fecha_feriado.strftime('%Y-%m-%d') }}" required>
                </div>
                <div class="mb-3">
                    <label for="descripcion_feriado" class="form-label fw-bold">Descripción del Feriado</label>
                    <input type="text" class="form-control fw-semibold" id="descripcion_feriado" name="descripcion_feriado" value="{{ feriado.descripcion_feriado }}" required>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="pago_obligatorio" id="pago_obligatorio" {% if feriado.pago_obligatorio %}checked{% endif %}>
                    <label class="form-check-label fw-bold" for="pago_obligatorio">
                        ¿Es de pago obligatorio?
                    </label>
                </div>
                <button type="submit" class="btn btn-warning w-100 fw-bold">Guardar Cambios</button>
                <a href="{{ url_for('feriado.listar_feriados') }}" class="btn btn-secondary w-100 mt-2 fw-bold">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}