{% extends 'base.html' %}

{% block title %} - Listado de Empleados{% endblock %}

{% block content %}
<div class="container-fluid" >
    <h3 class="text-center fw-bold">Listado de Empleados</h3>
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-left fw-bold">
            {% if pagination.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('empleado.listar_empleado', page=pagination.prev_num) }}">Anterior</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% endif %}

            {% for page_num in pagination.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=3) %}
                {% if page_num %}
                    {% if pagination.page == page_num %}
                    <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('empleado.listar_empleado', page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('empleado.listar_empleado', page=pagination.next_num) }}">Siguiente</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
            {% endif %}
        </ul>
    </nav>

    <div class="d-flex justify-content-end align-items-center">
        <a href="{{ url_for('empleado.crear_empleado') }}" class="btn btn-primary fw-bold">
            <i class="fas fa-user-plus"></i> Nuevo Empleado
        </a>
    </div>


    {% if pagination.items %}
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th>Cédula</th>
                <th>Nombre Completo</th>
                <th>Correo</th>
                <th>Puesto</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in pagination.items %}
            <tr class="fw-semibold">
                <td>{{ empleado.cedula }}</td>
                <td>{{ empleado.nombre }} {{ empleado.apellido_primero }} {{ empleado.apellido_segundo }}</td>
                <td>{{ empleado.correo }}</td>
                <td>{{ empleado.puesto.tipo_puesto }}</td>
                <td class="text-center">
                    {% if empleado.estado_empleado %}
                    <span class="badge bg-success">Activo</span>
                    {% else %}
                    <span class="badge bg-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ url_for('empleado.ver_perfil_empleado', empleado_id=empleado.id_empleado) }}" class="btn btn-sm btn-info fw-bold"><i class="fas fa-eye"></i> Ver Perfil</a>
                    
                    <a href="{{ url_for('empleado.editar_empleado', id=empleado.id_empleado, page=pagination.page) }}" class="btn btn-sm btn-warning fw-bold"><i class="fas fa-edit"></i> Editar</a>
                    
                    <form action="{{ url_for('empleado.eliminar_empleado', id=empleado.id_empleado) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="page" value="{{ pagination.page }}">
                        <button type="submit" class="btn btn-sm btn-danger fw-bold" onclick="return confirm('¿Estás seguro de que quieres eliminar a {{ empleado.nombre }}?');">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="alert alert-info">No hay empleados registrados.</p>
    {% endif %}
</div>
{% endblock %}