{% extends 'base.html' %}

{% block title %}Editar Puesto{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <fieldset class="shadow border p-2 mb-0 rounded border-primary">
            <legend class="float-none w-auto px-1 fs-3 text-center">Editar el Nuevo Puesto</legend>
                <form method="POST" action="{{ url_for('puesto.editar_puesto', id=puesto.id_puesto) }}">
                    <input type="hidden" name="page" value="{{ page }}">

                    <div class="mb-3">
                        <label for="tipo_puesto" class="form-label">Nombre del Puesto</label>
                        <input type="text" class="form-control" id="tipo_puesto" name="tipo_puesto" value="{{ puesto.tipo_puesto }}" required>
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar Cambios</button>
                    <a href="{{ url_for('puesto.listar_puestos', page=page) }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Volver</a>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}