<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestion de Nómina {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="d-flex">
        <!-- Navbar lateral -->
    <nav class="bg-light p-2 menu-vertical">
        <div class=" justify-content-center mx-auto mb-3">
            <img src="{{ url_for('static', filename='/img/logo.webp') }}" alt="Logo de la Aplicación" class="img-fluid">
        </div>

        <hr class="border border-primary">
        <h5 class="text-center">Gestión<br>Talento Humano</h5>
        <hr class="border border-primary">

        <ul class="nav flex-column menu">
            <li class="nav-item {% if request.endpoint == 'auth.base' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('auth.base') }}">Inicio</a>
            </li>

            <li class="nav-item {% if request.endpoint == 'registro_asistencia.ver_asistencia' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('registro_asistencia.ver_asistencia') }}">Asistencia</a>
            </li>

            <li class="nav-item {% if request.endpoint == 'registro_asistencia.generar_nomina' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('registro_asistencia.generar_nomina') }}">Nómina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Liquidación</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Aguinaldo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Vacaciones</a>
            </li>

            <li class="nav-item dropdown {% if 'empleado' in request.endpoint or 'rol' in request.endpoint or 'puesto' in request.endpoint or 'feriado' in request.endpoint or 'registro_asistencia.listar_asistencia' in request.endpoint or 'accion_personal_bp.acciones_administrativas' in request.endpoint %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Administrativo RH
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'empleado.listar_empleado' %}active{% endif %}" href="{{ url_for('empleado.listar_empleado') }}">Empleado</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'rol.listar_roles' %}active{% endif %}" href="{{ url_for('rol.listar_roles') }}">Rol</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'puesto.listar_puestos' %}active{% endif %}" href="{{ url_for('puesto.listar_puestos') }}">Puesto</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'feriado.listar_feriados' %}active{% endif %}" href="{{ url_for('feriado.listar_feriados') }}">Feriado</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'registro_asistencia.listar_asistencia' %}active{% endif %}" href="{{ url_for('registro_asistencia.listar_asistencia') }}">Asistencia</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if request.endpoint == 'accion_personal_bp.acciones_administrativas' %}active{% endif %}" href="{{ url_for('accion_personal_bp.acciones_administrativas') }}">Historial de Acciones</a>
                    </li>
                </ul>
            </li>
        </ul>

        <hr class="border border-primary">

        <ul class="nav flex-column mt-auto">

            {% if current_user.empleado %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('empleado.ver_perfil_empleado', empleado_id=current_user.empleado.id_empleado) }}">Mi perfil</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Mi perfil</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>

        <!-- Contenido principal -->
    <div class="flex-grow-1 body-3">
        <div class="md-12">
            <h5>Bienvenido,{% if current_user.is_authenticated %} {{ current_user.empleado.nombre }}  {% endif %}</h5>
            <hr class="border border-primary">
        </div>
        
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message|safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="d-flex md-12" style="z-index: 1;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

    </div>

    <footer class="text-center mt-4">
        <div class="text-center fixed-bottom footer bg-light pt-2">
            <p class="small">&copy; 2025 Edson García Quirós. Todos los derechos reservados.</p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script> 
</body>
</html>