<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestion de Nomina {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center body-login ">
        <div class="row w-100">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='/img/logo.webp') }}" alt="Logo" class="img-fluid">
                </div>
                <h1 class="text-center mb-4">Inicia Sesión</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                            <div class="alert-info alert {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <form action="/auth/login" method="POST" class="form">
                    <div class="mb-3 text-center">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary w-100 text-center">Iniciar Sesión</button>
                    </div>
                    <div class="mb-3">
                        <div class="form-check from-check-inline">
                            <input type="checkbox" id="showPassword" name="showPassword" class="form-check-input" disbale="true" onclick="togglePassword()">
                            <label class="form-check-label" for="showPassword">Mostrar Contraseña</label>
                        </div>
                    </div>
                </form>          
        </div>
    </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script> 
</body>
</html>