{% extends 'base.html' %}
{% block title %}Registro de Asistencia{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center mb-2">Registro de Asistencia</h1>
    <div class="card p-4 shadow">
        <div class="card-body text-center border border-2 border-primary rounded-3">
            
            <p class="mt-3 fs-4"><strong>Fecha:</strong> <span id="fecha_actual"></span></p>
            
            <div id="reloj" class="bg-dark text-light p-4 reloj rounded-3 d-inline-block fw-bold"></div>

            <form id="form_asistencia" method="POST" action="{{ url_for('registro_asistencia.registrar_asistencia') }}" class="mt-4">
                <input type="hidden" name="hora_cliente" id="hora_cliente_input">
                <input type="hidden" name="fecha_cliente" id="fecha_cliente_input">
                <button type="submit" id="marcar_btn" class="btn btn-primary btn-lg">Marcar Entrada/Salida</button>
            </form>
            
        </div>
    </div>
</div>
    
{% endblock %}
    