{% extends "base.html" %}

{% block title %}Reporte Generado{% endblock %}

{% block content %}
    <div class="container">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reporte_asistencia.css') }}">
        <h2 class="text-center mb-4">Reporte de Asistencia</h2>
        <div class="table-responsive">
            {{ reporte | safe }}
        </div>
        
        <div class="mt-4 text-center">
            <a href="{{ url_for('reportes_bp.mostrar_pagina_reporte') }}" class="btn btn-secondary">Volver al Formulario</a>
        </div>
    </div>
{% endblock %}